/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "reset.scss";
@import "table.scss";
@import "form.scss";
@import "error_message";

body{
    font-family: verdana, arial, helvetica, sans-serif;
    width:100%;
    font-size: 13px;
    margin: 33px;
}
 a{
  color: #333;
  display:inline-block;
}

a:hover{
  cursor:pointer;
  background-color:#333;
  color:#fff;
}


.heading{
  margin-bottom:15px;
}


